body{
  background-color: #E5F6FF;
}

.form-control{
  border: 1px solid lightgray;
  padding-left: 0.35rem;
  padding-right: 0.35rem;
}

.input-group-text{
  padding: 0.35rem !important;
  position: relative !important;
}

.page{  }

.page nav{  }

.page nav ul.pagination{  }

.page nav ul.pagination li.page-item{  }

.page nav ul.pagination li.page-item .page-link{ width: 24px; height: 24px; }
